#about {
    display: flex;
    background-color: white;
    width: auto;
    height: 450px;

}

#pfp {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 50px;
    flex-shrink: 0;
    border-radius: 100%;
    border: 2px solid black

}

#about-content {
    display: flex;
    flex-direction: column;
    margin: 40px 100px 40px 60px;
    align-items: center;
}
